@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tasks";
}
<h1>@ViewData["Title"]</h1>

<table width="100%">
    <tr>
        <th>Task ID</th>
        <th>Title</th>
        <th>Status</th>
        <th>Date Created</th>
        <th>Date Updated</th>
        <th>Location</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Test title</td>
        <td>Open</td>
        <td>01/02/2021</td>
        <td>03/02/2021</td>
        <td>Columbus, OH</td>
    </tr>
</table>